body {
    margin: 1% 0 0 2%;
}

fieldset { 
    padding:0; 
    border:0; 
    margin-top:25px; 
}

.validateTips { 
    border: 1px solid transparent; 
}

#tip {
    font-size: 0.8em;
    color: red;
}

.validateTips, #tip {
    padding: 0.3em; 
}

[name='formElement'], .delete {
    display: inline-block;
    vertical-align: top;
}

[name='formElement'] {
    margin: 0 7em 2em 0;
}

#container {
    margin-top: 2em;
}

#add, #previw {
    margin-right: 1em;
}